Lista 

<div class="alert alert-warning" role="alert" *ngFor="let item of items">
    nombre: {{item.name}} - id: {{item.id}}
    <div class="flotat-rigth" (click)="eliminar(item.id)">
      <i class="far fa-trash-alt"></i>
    </div>
    <div class="flotat-rigth" (click)="openModal(template,item)">
      <i class="fas fa-pencil-alt"></i>
    </div>
</div> 

 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Editar nombre </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <input 
                type="text" placeholder="ingresa tu nombre"
                name="name" class=form-control 
                [(ngModel)]="editarItem.name">
  <button type="button" class="btn btn-default" (click)="agregarItemEditado() " >Modificar</button>
  <button type="button" class="btn btn-primary" (click)="decline()" >Cancelar</button>
                              
</ng-template>